<h3><a class="btn btn-secondary" href="/aluno"><i class="fa fa-plus"></i> Criar novo aluno</a> Lista de alunos</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Matrícula</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.nome}}</td>
            <td>{{this.matricula}}</td>
            <td class="d-flex justify-content-end">
                <a href="../matricula/{{this._id}}"><i class="fa fa-book fa-lg" aria-hidden="true"></i></a>
                <a href="/aluno/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/aluno/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>