<h2 class="d-flex justify-content-center">{{viewTitle}}</h2>
<h2 class="d-flex justify-content-center">{{viewName}}</h2>

<h3>{{Aluno._id}}</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
        </tr>
    </thead>
    <tbody>
        {{#each disciplina}}
        <tr>
            <td>{{this.nome}}</td>
            <td></td>
            <td></td>
            <td class="d-flex justify-content-end">
                <a href="../matricula/registra/{{this._id}} onclick="return confirm('Você tem certeza que deseja fazer a matrícula nesta disciplina ?');""><i class="fa fa-book fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>